@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /*adds color to target markers*/
  .target-colored {
    filter:invert(30%) sepia(100%) saturate(500%) hue-rotate(300deg);
    width: 2.5vw;
    height: auto;
  }
  /* ... */
}

/* using this as a kind of "global rules" set that precedes Tailwind rules,
 * since Tailwind config theme customization seems like it's specifically
 * building blocks for the TW rules, not for what precedes them*/

body {
  /*padding: 50px;*/
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
  color: white;
}

a {
  color: #00B7FF;
}
